@media screen and (max-width:991px) {
   
    /* NAVBAR */
    
  
    

    /* NAVBAR */

    /* Background */

        
    .main-wrapper{
        background: url(assets/img/path.svg) no-repeat left top / contain; 
        background-size: 1200px;
    }
    
}

@media screen and (max-width:767px){



.hero-sec .content{
 margin-bottom: 0;
}

.details-sec .main{
    margin-bottom: 100px;
}

.pages-sec .content{
    margin-top: 50px !important;
    padding-inline: 10px;
}

.pages-sec {
    margin-bottom: 100px;
}

.promo-sec .curved-edge .content-wrapper .content p{
    width: 100%;
}

.promo-sec .curved-edge .content-wrapper {
    padding-bottom:50px !important;
    padding-inline: 10px !important;
}


}


@media screen and (max-width:580px)

{
    .main-wrapper{
        background-size: 800px ;
    }

    #nav_btn_s{
        margin-inline: auto;
    }
    
    
    .hero-sec .content{
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .hero-sec .content h1{
        font-size: 30px;
        text-align: center;
    }

    .hero-sec .content .btn_grp{
        flex-wrap: wrap !important;
    }

    .details-sec .main .content h2
    {
        font-size: 28px;
        text-align: center;
    }

    
    .details-sec .main {
        margin-top: 0;
    }

    .pages-sec .content h2{
        font-size: 26px;
        text-align: center;
    }

    .promo-sec .curved-edge .content p:nth-of-type(1){
        width: 80%;
    }
    
    
    
}

