@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --darkPrimary:#111B47;
    --darkSecondary:#37447E;
    --lightPrimary:#E7ECFF;
    --grey:#B0B8BC;
    --t-black:#091133;
    --t-dark:#222F65;
    --t-light:#505F98;
    --links-secondary:#505F98;
    --white:#FFFFFF;
    --black:#000000;
}


*{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}


/* Universal Code -  */

p{
    color: var(--t-light);
}


.btn_primary{
    border-radius: 2px !important;
    background-color: var(--darkPrimary);
    border: none;
    font-weight: 500;
    border:3px solid transparent;
    color: white;
}

.btn_primary:hover{
    border: 3px solid var(--darkPrimary);
    border: 2px initial;
    background-color: transparent;
}


.btn_secondary{
    font-weight: 500;
    border-radius: 2px !important;
    background: transparent;
    color: var(--t-dark);
    border: 3px solid var(--darkPrimary);
}

.btn_secondary:hover{
    color: white;
    background: var(--darkPrimary);
}


/* Universal code */

/* NAVBAR */

.collapse_nav{
    flex-grow: unset;
}

.brand-name{

    font-weight: 900;
    font-size: 26px;
    color: var(--t-dark);
}


.links a{
    font-size: 14px;
    color: var(--links-secondary);
}



/* NAVBAR */





/* Background at Hero and Nav */
.bg-holder{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.bg-1{
    background: url(assets/img/herosecbanner.png) no-repeat right top / contain; 
}

.bg-2{ 
    background:url(assets/img/path.svg) no-repeat left top/cover;
}

/* Background at Hero and Nav */


/*Container*/
.container{
    padding-inline: 130px !important;
  
}


/*HERO SEction*/

.hero-sec{

}

.hero-sec .content{
    margin-top: 240px;
    margin-bottom: 240px;
}

.hero-sec .content h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.hero-sec .content p{
font: 400 var(--t-light);
}

.hero-sec .content p:nth-child(2){
    margin-bottom: 30px;

}

.hero-sec .content p:nth-child(3){
    margin-bottom: 69px;
}

.hero-sec .content .btn_grp{
    gap: 30px;
}

.hero-sec .content .btn_grp .btn{
 width: 189px !important;
}



/*Details page*/

.details-sec .main{
    margin-top: 200px;
    margin-bottom: 240px;
}

.details-sec .content{
    margin-top: 60px;
}

.details-sec .main .content h2{
    font-size: 36px;

}

.details-sec .main .content p{
    font-size: 16px;
}

